extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='./about.bundle.js')

block content
  section.section.about
    .container
      include ../common/header
      h1.title Страничка "Обо мне"  