extends ../main.layout.pug

block variables
  - var title = 'Блог'
  - var pageClass = 'page-blog'

block headerAvatar
  .header__avatar  
    +avatar('', 'Блог', 'Статьи которые я написал',true)

block headerBottom

block trianglesBottom

block scripts
  script(src='./blog.bundle.js')

block content
  section.blog#blog
    aside.blog__sidebar
      nav.nav-blog#nav-blog
        ul.nav-blog__list
          li(v-for="post in posts").nav-blog__item
            a(:href="'#post-'+post.id").nav-blog__link {{ post.title }}
    main.blog__content
      ul.blog__list
        li(:id="'post-' + post.id" v-for="post in posts").blog__item
          h2.blog__title {{ post.title }}
          time.blog__date {{ post.created_at | correctDate}}
          .blog__text.text-content(v-html="post.content")