extends ../auth.layout.pug

block content
  .wrapper.wrapper-intro
    .intro
      .intro__detail
        .intro__pic
          img.intro__img(src='./assets/images/photo.png')
        .intro__title='Олег Анисов'
        .intro__text='Личный сайт веб разработчика'
        .intro__social
          +social(['vk','github','in'],'icon-blue')
      .intro__menu
        +menu(['Мои работы','Обо мне','Блог'])