extends ../main.layout.pug

block variables
  - var title = 'Мои работы'

block scripts
  script(src='./about.bundle.js')

block content
  section.section.hero
    include ../common/header
    .hero__avatar.avatar
      .avatar__pic
        img.avatar__img(src='./assets/images/photo.png')
      .avatar__name='Олег Анисов'
      .avatar__info='Личный сайт веб разработчика'
    .hero__arrow
      +icon('arrow_down','hero__ico')
    .hero__bottom
      .hero__triangles
        svg.triangle.triangle_fill_gray(viewbox="0 0 900 150", preserveAspectRatio="none")
          polygon(points="0,0 0,150 900,150")
        svg.triangle.triangle_fill_gray(viewbox="0 0 900 150", preserveAspectRatio="none")
          polygon(points="0,150 900,150 900,0")
      .hero__tittle
        .block-tittle Мои работы
  section.section.works
    .works__left
    .works__right
  section.section.feeds
    h1 "Отзывы"
    include ../common/footer.pug