extends ../main.layout.pug

block variables
  - var title = 'Мои работы'
  - var pageClass = 'page-works'

block headerAvatar
  .header_avatar  
    +avatar('', 'Олег Анисов', 'Личный сайт веб разработчика',true)

block headerBottom
  a.btn-next(href="#slider")
    +icon('portf_arrow_down','btn-next__ico')

block trianglesBottom
  div(class = "triangles__bottom" )
    h1.title-h1.title-h1--works= title
    .triangles__stars
      svg(viewBox="0 0 263 171")
        use(xlink:href="./assets/images/sprite_stars.svg#stars2")

block scripts
  script(src='./works.bundle.js')

block content
  .slider-container#slider
    #slider-component
  section.feeds
    .feeds__content
      .feeds__title
        h2.title-h1.title-h1--feeds Что обо мне говорят
      .reviews
        ul.reviews__list
          li.reviews__item
            .reviews__photo(style="background-image: url('./assets/images/avatar-reviews1.jpg');")
            blockquote.reviews__description
              .reviews__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
              .reviews__author
                .reviews__author-name Ковальчук Дмитрий
                .reviews__author-post - основатель Loftschool
          li.reviews__item
            .reviews__photo(style="background-image: url('./assets/images/avatar-reviews2.jpg');")
            blockquote.reviews__description
              .reviews__text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
              .reviews__author
                .reviews__author-name Сабанцев Владимир
                .reviews__author-post - преподаватель
      .feeds__form.form
        form.form__area(action='post')
          .form__fields
            h2.title-h2.title-h2--color-white.form__title Связаться со мной
            .form__row
              .form__field
                label.form__label.form__label_input Имя
                input.form__input-text(type='text', placeholder='Ваше Имя')
            .form__row
              .form__field
                label.form__label.form__label_input Email
                input.form__input-text(type='text', placeholder='Ваш Email')
            .form__row
              .form__field
                label.form__label.form__label_input Ваше сообщение
                textarea.form__input-text.form__input-text--textarea(placeholder='Ваше сообщение' rows='3')
            .form__row
              .form__btns
                button.form__button.form__button-submit(type='submit') Отправить
                button.form__button.form__button-clear(type='clear') Очистить
      a.btn-prev(href="#slider")
        +icon('portf_arrow_up', 'btn-prev__ico')