extends ../main.layout.pug

block variables
  - var title = 'Мои работы'

block scripts
  script(src='./about.bundle.js')

block content
  section.section.hero
    include ../common/header
    .hero__avatar
      +avatar('', 'Олег Анисов', 'Личный сайт веб разработчика',true)
    a.btn-next(href="#myworks")
      +icon('portf_arrow_down','btn-next__ico')
    .hero__bottom
      .hero__triangles
        +triangles('gray','gray')
      .hero__title
        h1.title-h1.title-h1--works= title
  section.works#myworks
    .works__content
      .works__slider
        .slider
          ul.slider__list
            li.slider__item
              .slider__item-description
                h2.title-h2.slider__item-title Сайт школы онлайн образования
                .slider__item-technologies HTML , CSS, JavaScript
                .slider__btn
                  a.btn-slider Посмотреть сайт
              .slider__item-top
                .slider__item-image
                  img.slider__item-pic(src="./assets/images/slide1.png")
              .slider__item-bottom
                .slider__item-nav
                  .slider__item-prev
                    +icon('portf_arrow_down', 'slider__icon')
                  .slider__item-next
                    +icon('portf_arrow_up', 'slider__icon')
  section.feeds
    .feeds__content
      .feeds__title
        h2.title-h1.title-h1--feeds Что обо мне говорят
      .reviews
        ul.reviews__list
          li.reviews__item
            .reviews__photo(style="background-image: url('./assets/images/avatar-reviews1.jpg');")
            blockquote.reviews__description
              .reviews__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
              .reviews__author
                .reviews__author-name Ковальчук Дмитрий
                .reviews__author-post - основатель Loftschool
          li.reviews__item
            .reviews__photo(style="background-image: url('./assets/images/avatar-reviews2.jpg');")
            blockquote.reviews__description
              .reviews__text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
              .reviews__author
                .reviews__author-name Сабанцев Владимир
                .reviews__author-post - преподаватель
      .form
        form.form__area(action='post')
          .form__fields
            h2.title-h2.title-h2--color-white.form__title Связаться со мной
            .form__row
              .form__field
                label.form__label.form__label_input Имя
                input.form__input-text(type='text', placeholder='Ваше Имя')
            .form__row
              .form__field
                label.form__label.form__label_input Email
                input.form__input-text(type='text', placeholder='Ваше Email')
            .form__row
              .form__field
                label.form__label.form__label_input Ваше сообщение
                textarea.form__input-text.form__input-text--textarea(placeholder='Ваше сообщение' rows='3')
            .form__row
              .form__btns
                button.form__button.form__button-submit(type='submit') Отправить
                button.form__button.form__button-clear(type='clear') Очистить
      a.btn-prev(href="#myworks")
        +icon('portf_arrow_up', 'btn-prev__ico')