-
    var skills = [
    ['Frontend', [['HTML5', 60], ['CSS3', 70], ['JavaScript & jQuery', 50]]],
    ['Backend', [['PHP', 30], ['mySQL', 40], ['Node.js & npm', 50], ['Mongo.db', 30]]],
    ['WorkFlow', [['Git', 70], ['Gulp', 50], ['Bower', 30]]],
    ]
-
    var contacts = [
    ['skype', 'skype_kdn', ''],
    ['envelope', 'astahov@gmail.com', 'mailto:astahov@gmail.com'],
    ['phone', '+7 931 200 93 24', 'tel:+7 931 200 93 24'],
    ['map_marker', 'Новосибирск, ул. Инская, д.14', '']
    ]
-
    var socials = ['vk','github','in']
-
    var menu_footer = [
        {name:'Мои работы',href:'works.html'},
        {name:'Обо мне',href:'about.html'},
        {name:'Блог',href:'blog.html'},
        {name:'Авторизация',href:'index.html'}
    ]
-
    var menu_index = [
        {name:'Мои работы',href:'works.html'},
        {name:'Обо мне',href:'about.html'},
        {name:'Блог',href:'blog.html'}
    ]