header.header
  +parallax-block('header__bg parallax-block')
  .header__top
    +social(['vk','github','in'],'social__icon--white')
    +ham-btn
  block headerAvatar

  block headerBottom

  block headerTriangles
    +triangles('header__triangles')