include ./common/_variables
include ./common/_mixins
block variables
  - var pageClass = ''
  
doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    link(rel="icon" href="./assets/images/fav_night.png" type="image/png")
    
    title Portfolio | #{title}
    link(rel='stylesheet' href='main.min.css')
  body(class= pageClass)
    #preloader-container
    .wrapper
      include ./common/header.pug
      .maincontent
        block content
        
      include ./common/footer.pug
    include ./common/ham-menu
    include ./components/templates/skills
    include ./components/templates/slider
    include ./components/templates/preloader
    
    //- script(src='./bootloader.bundle.js')
    //- script(src='./vendor.bundle.js')
    
    block scripts
