@mixin laptop{
  @media (max-width:$laptop) {
    @content;
  }
}
@mixin tablets{
  @media (max-width:$tablets) {
    @content;
  }
}
@mixin phones{
  @media (max-width:$phones) {
    @content;
  }
}
@mixin smallphones{
  @media (max-width:$smallphones) {
    @content;
  }
}

@mixin bigTitle{
  font-family: $font-title;
  text-transform: uppercase;
  font-size: 63px;
  @include tablets {
    font-size: 49px;
  }
  @include phones {
    font-size: 35px;
  }
}

@mixin smallTitle{
  font-family: $font-title;
  text-transform: uppercase;
  font-size: 35px;
  @include tablets {
    font-size: 30px;
  }
  @include phones {
    font-size: 21px;
  }
}