.about {
  position: relative;
  display: flex;
  @include tablets{
    flex-direction: column;
  }
  &__left {
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    background-color: $white;
    padding: 10px 20px 0 0;
    @include laptop{
      padding: initial;
    }
    @include tablets{
      width: 100%;
    }
    &-content {
      display: flex;
      @include laptop{
        flex-direction: column;
        align-items: center;
      }
      @include phones{
        margin: initial;
        width: 100%;
      }
    }
    &-title{
      width: 45%;
      @include laptop{
        margin-bottom: 50px;
      }
      @include tablets{
        padding-top: 50px;
      }
    }
    &-user{
      width: 55%;
      @include laptop{
        width: 80%;
      }
    }
  }
  &__right {
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    background-color: $beige;
    @include tablets{
      width: 100%;
      padding-top: 50px;
    }
    &-content {
      width: 90%;
      margin: 0 auto;
      @include tablets{
        text-align: center;
      }
    }
    &-desc{
      @include tablets{
        padding: 0 60px;
      }
    }
  }
}