.avatar {
  &-pic {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    height: 140px;
    width: 140px;
  }
  &-img {
    position: absolute;
    max-height: 140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}