.background-svg {
	position: absolute;
	top: 50%;
  left: 50%;
  height: 250px;
  width: 450px;
  transform: translate(-50%,-50%);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
  opacity: .15;
  background-image: svg-load('stars1.svg', fill=$white);
}