.blog {
  background-color: #ccc;
  display: flex;
  &__triangle{
    width: 100%;
    display: flex;
    margin-top: -150px;
  }
//  &__left{
//    width: 50%;
//    background-color: $white;
//  }
//  &__right{
//   width: 50%;
//   background-color: $beige;
//  }
}