.blog {
  background-color: $white;
  display: flex;
  position: relative;
  padding-top: 40px;
  padding-bottom: 50px;
  &__triangles {
    position: absolute;
    width: 100%;
    display: flex;
    top:-150px;
  }
  &__sidebar {
    width: 25%;
    padding-left: 60px;
    @include tablets{
      display: none;
    }
  }
  &__content {
    width: 75%;
    padding-left: 80px;
    padding-right: 100px;
    @include tablets{
      width: 100%;
      padding: 0 5%;
    }
    @include phones{
      padding: 0 4%;
    }
  }
  &__title {
    text-align: left;
    margin-bottom: 20px;
    @include smallTitle;
    text-transform: initial;
  }
  &__item{
    text-align: left;
    padding-bottom: 60px;
    border-bottom: 5px solid #ecebe4;
    margin-bottom: 50px;
    @include phones {
      padding-bottom: 30px;
      margin-bottom: 30px;
    }
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: initial;
    }
  }
  &__date {
    display: inline-block;
    opacity: .7;
    color: rgba(8, 60, 150, 0.702);
    margin-bottom: 20px;
  }
}