.blog-nav {
  text-align: right;
  font-weight: bold;
  &__list{
    position: sticky;
    top: 5%;
  }
  &__item {
    padding: 15px 20px 15px 0;
    position: relative;
    &:after {
      transition: .3s;
      content: '';
      top: 0;
      position: absolute;
      left: 100%;
      height: 100%;
      background-color: transparent;
      width: 3px;
    }
    &:hover {
      .blog-nav__link,
        {
        color: $blue-light;
      }
      &:after {
        background-color: $blue-dark;
      }
    }
  }
  &__link {
    color: $text-color;
    text-decoration: none;
    transition: .3s;
    & .is-active {
      color: $blue-light;
    }
  }
}

.blog-nav__item.is-active {
  .blog-nav__link {
    color: $blue-light;
  }
  &:after {
    background-color: $blue-dark;
  }
}