.auth-btn {
  position: absolute;
  top: 5%;
  right: 5%;
}

.btn {
  font-weight: 500;
  padding: 15px 30px;
  color: #fff;
  display: inline-block;
  background-color: transparent;
  border: 1px solid #fff;
  transition: .3s;
  cursor: pointer;
  &:hover {
    background-color: $blue-dark;
    border: 1px solid transparent;
  }
}

.btn-slider {
  font-weight: 500;
  padding: 15px 30px;
  color: #fff;
  display: inline-block;
  background-color: $blue-light;
  border: 1px solid $blue-light;
  transition: .3s;
  cursor: pointer;
  &:hover {
    background-color: $blue-dark;
    border: 1px solid transparent;
  }
}

%btn_arrow {
  width: 33px;
  height: 22px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.btn-next {
  @extend %btn_arrow;
  bottom: 20%;
  &:hover .btn-next__ico {
    opacity: 1;
  }
}

.btn-prev {
  @extend %btn_arrow;
  bottom: 5%;
  &:hover .btn-prev__ico {
    opacity: 1;
  }
}

.btn-next__ico,
.btn-prev__ico {
  transition: .3s;
  width: 100%;
  height: 100%;
  fill: $white;
  opacity: .7;
}