.auth-btn{
  position: absolute;
  top:5%;
  right: 5%;
}
.btn {
  font-weight: 500;
  padding: 15px 30px;
  color: #fff;
  display: inline-block;
  background-color: transparent;
  border: 1px solid #fff;
  transition: .3s;
  cursor: pointer;
  &:hover{
    background-color: $blue-dark;
    border: 1px solid transparent;
  }
}

.btn-slider {
  font-weight: 500;
  padding: 15px 30px;
  color: #fff;
  display: inline-block;
  background-color: $blue-light;
  border: 1px solid $blue-light;
  transition: .3s;
  cursor: pointer;
  &:hover{
    background-color: $blue-dark;
    border: 1px solid transparent;
  }
}

.btn-up {
	display: inline-block;
	width: 26px;
	height: 16px;
	position: absolute;
	bottom: 70px;
	left: 50%;
	transform: translateX(-50%);
	background-color: transparent;
	padding: 0;
	z-index: 1;
	&:hover {
		.btn-up__icon {
			opacity: 1;
		}
	}
}
.btn-up__icon {
	transition: .3s;
	width: 100%;
	height: 100%;
	fill: $white;
	opacity: .7;
}