.btn {
  font-weight: 500;
  padding: 15px 30px;
  color: #fff;
  display: inline-block;
  background-color: transparent;
  border: 1px solid #fff;
  transition: background-color .3s;
  cursor: pointer;
  &:hover {
    background-color: $blue-dark;
    border: 1px solid transparent;
  }
  &.hidden{
    display: none;
  }
}

.btn-slider {
  font-weight: 500;
  padding: 15px 20px;
  color: #fff;
  display: inline-block;
  background-color: $blue-light;
  border: 1px solid $blue-light;
  transition: .3s;
  cursor: pointer;
  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-image: url('./assets/images/link.svg');
    height: 20px;
    width: 20px;
    margin-right: 15px;
  }
  &:hover {
    background-color: $blue-dark;
    border: 1px solid transparent;
  }
}

%btn_arrow {
  width: 33px;
  height: 22px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.btn-next {
  @extend %btn_arrow;
  bottom: 190px;
  &:hover .btn-next__ico {
    opacity: 1;
  }
  @include phones{
    bottom: 180px;
  }
  @include smallphones{
    bottom: 140px;
  }
}

.btn-prev {
  @extend %btn_arrow;
  &:hover .btn-prev__ico {
    opacity: 1;
  }
}

.btn-next__ico,
.btn-prev__ico {
  transition: .3s;
  width: 100%;
  height: 100%;
  fill: $white;
  opacity: .7;
}