.contacts {
  width:590px;
	padding: 35px 20px 30px;
	background-color: rgba(#fff, .7);
  border-radius: 5px;
  @include tablets{
    width: 350px;
  }
  @include phones{
    width: initial;
    padding: 10px 0 30px 10px;
    background-color: rgba(#fff, 1);
  }
  &__title {
    margin-bottom: 30px;
    @include phones{
      margin-bottom: 20px;
    }
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    @include tablets{
      flex-direction: column;
    }
  }
  &__item {
    flex: 1;
    min-width: 50%;
    margin-bottom: 28px;
    @include phones{
      margin-bottom: 10px;
    }
  }
  &__item-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
  }
  &__item-icon-img {
    fill: $blue-light;
    width: 100%;
    height: 100%;
  }
  &__item-title {
    color: $text-color;
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

