.feeds {
  background-image: url('./assets/images/bg_feed_1800.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	position: relative;
  padding-bottom: 155px;
  &__title {
    padding-top: 70px;
    margin-bottom: 60px;
    @include phones{
      margin-bottom: 40px;
    }
  }
}