.footer {
  color: #fff;
  &__main {
    display: flex;
    background-color: rgba($gray, 0.851);
    padding: 30px 0;
    @include tablets{
      flex-direction: column;
      padding: 15px 0;
    }
  }
  &__left {
    position: relative;
    padding-left: 30px;
    width: 32%;
    @include tablets{
      margin-bottom: 15px;
      text-align: center;
      width: 100%;
      &::before {
        content: "";
        display: block;
        background-color: $gray-light;
        position: absolute;
        bottom: -10px;
        width: 92%;
        height: 1px;
      }
    }
  }
  &__col {
    display: flex;
    width: 68%;
    @include tablets{
      width: 100%;
    }
  }
  &__center {
    padding-left: 30px;
    width: 53%;
    position: relative;
    @include tablets{
      width: 65%;
    }
    &::before {
      content: "";
      display: block;
      background-color: $gray-light;
      position: absolute;
      left: 0;
      width: 1px;
      height: 85px;
      @include tablets{
        display: none;
      }
    }
  }
  &__right {
    font-weight: 300;
    padding-left: 30px;
    width: 35%;
    position: relative;
    @include tablets{
      text-align: right;
      margin-right: 30px;
    }
    &::before {
      content: "";
      display: block;
      background-color: $gray-light;
      position: absolute;
      left: 0;
      width: 1px;
      height: 85px;
      @include tablets{
        display: none;
      }
    }
  }
  &__text {
    font-weight: 300;
  }
  &__adr {
    font-style: normal;
  }
  &__bottom {
    background-color: rgba($blue-dark, 0.851);
  }
  &__menu {
    margin-bottom: 30px;
  }
  &__copyright {
    font-size: 15.771px;
    text-align: center;
    line-height: 35px;
  }
}