.form__area {
  width: 380px;
  margin: 0 auto;
  background-color: rgba(#202027, .6);
  padding-top: 30px;
  overflow: hidden;
}

.form__label {
  position: absolute;
  left: -9999px;
  top: 0;
  opacity: .8;
}

.form__title {
  color: $text-color;
  &:after {
    background-color: $text-color;
  }
}

.form__row {
  width: 100%;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

.form__fields {
  width: 90%;
  margin: 0 auto 15px;
}

.form__field {
  height: 100%;
  position: relative;
}

.form__row-title {
  font-weight: bold;
  opacity: .8;
  margin-bottom: 10px;
}

.form__button {
  outline: none;
  color: $white;
  font-weight: 500;
  width: 50%;
  height: 45px;
  line-height: 45px;
  transition: .3s;
  &-submit {
    background-color: rgba($blue-light, .5);
    &:hover {
      background-color: $blue-dark;
    }
  }
  &-clear{
    background-color: transparent;
  }
}

.form__input-text {
  outline: none;
  border: 0;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  line-height: 45px;
  overflow: hidden;
  background-color: rgba(#2d282f, .6);
  color: $text-color;
  &::placeholder {
    color: rgba($white, .5);
  }
}

.form__input-text--textarea {
  height: initial;
  resize: none;
}