%ham_line {
  background-color: #fff;
  height: 6px;
  width: 40px;
  border-radius: 3px;
  display: inline-block;
  @include phones {
    height: 4px;
    width: 30px;
  }
}

.ham-btn {
  cursor: pointer;
  z-index: 10;
}

.ham-bar {
  @extend %ham_line;
  position: relative;
  &::before {
    content: "";
    @extend %ham_line;
    position: absolute;
    top: -15px;
    transition: transform .3s;
    @include phones {
      top: -10px;  
    }
  }
  &::after {
    content: "";
    @extend %ham_line;
    position: absolute;
    bottom: -15px;
    transition: transform .3s;
    @include phones {
      bottom: -10px;  
    }
  }
}

.ham-btn.is-active {
  .ham-bar {
    background-color: transparent;
    &::before {
      transform: rotate(45deg);
      top: 0;
    }
    &::after {
      transform: rotate(-45deg);
      bottom: 0;
    }
  }
}