.header {
  min-height: 650px;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    padding: 28px 31px 0;
  }
  &__triangles {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &--welcome {
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 24px 100px;
    height: auto;
    min-height: auto;
  }
}