.hero {
  background: url('./assets/images/bg_1200.png') center center no-repeat/cover;
  &__main {
    display: flex;
    flex-direction: column;    
    align-items: center;
  }
  &__detail {
    // flex:1;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__name {
    font-size: 35px;
    font-weight: 500;
  }
  &__pic {
    border-radius: 50%;
    margin-bottom: 20px;
  }
  &__img {
    max-height: 140px;
    max-width: 140px;
  }
  &__ico{
    fill:#fff;
    height: 22px;
    width: 33px;
  }
  &__tittle{
    font-size: 63px;
    color: #fff;
    text-transform: uppercase;
  }
}