.map{
  background: url('./assets/images/bg_map_1800.jpg') center center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__data{
    position: relative;
  }
}