.index-nav {
  width: 100%;
  &__list {
    display: flex;
    text-align: center;
  }
  &__item {
    flex: 1;
    background-color: rgba($blue-light, 0.85);
    position: relative;
    transition: background-color .3s;
    border-right: 2px solid rgba(#fff, 0.5);
    &:last-child {
      border-right: 0;
    }
    &:hover {
      background-color: rgba($blue-dark, 0.85);
    }
  }
  &__link {
    color: #fff;
    display: block;
    padding: 15px 0;

  }
}

.footer-nav {
  &__list {
    display: flex;
    @include phones{
      justify-content: center;
    }
  }
  &__item {
    margin-right: 40px;
    &:last-child {
      margin-right: initial;
    }
    @include tablets{
      margin-right: 20px;
    }
    @include smallphones{
      margin-right: 10px;
    }
  }
  &__link {
    color: #fff;
  }
}