.skills {
  &-list__item {
    margin-bottom: 35px;
  }
  &-row__title {
    text-align: left;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 15px;
    @include tablets {
      text-align: center;
    }
  }
  &-row__item {
    display: inline-block;
    margin-right: 35px;
    &:last-child {
      margin-right: 0;
    }
  }
}