.slider {
  height: 100vh;
  &__list {
    position: relative;
    height: 100%;
  }
  &__item {
    height: 100%;
    display: grid;
    grid-template:
      "description slider" 70% 
      "description navigation" 30%
       / 1fr 1fr;
    @include tablets {
      grid-template:
      "slider" 50%
      "description" 28%
      "navigation" 22%
       / 1fr;
    }
    &-description {
      grid-area: description;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 15%;
      background-color: $white;
    }
    &-top {
      grid-area: slider;
      background-color: $beige;
    }
    &-bottom {
      grid-area: navigation;
    }
    &-nav {
      height: 100%;
      display: flex;
    }
    &-technologies {
      color: $blue-dark;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 50px;
    }
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    &-pic {
      display: block;
      max-width: 70%;
      max-height: 70%;
    }
  }
}

.slider__icon {
  width: 43px;
  height: 27px;
  fill: $white;
  z-index: 10;
}

.slider__item-prev,
.slider__item-next {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slider__item-prev {
  background-image: url('./assets/images/slide-nav-prev.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#b3b4bc, .7);
  }
}

.slider__item-next {
  background-image: url('./assets/images/slide-nav-next.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#96979f, .7);
  }
}