.title-h1 {
  @include bigTitle;
  text-align: center;
  position: relative;
  z-index: 5;
  &--about {
    &::before {
      z-index: -5;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(190deg);
      content: '';
      display: inline-block;
      opacity: .15;
      height: 150px;
      width: 250px;
      background-image: url('./assets/images/stars2.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      @include tablets {
        height: 110px;
        width: 180px;
      }
      @include phones {
        height: 90px;
        width: 150px;
      }
    }
  }
  &--feeds {
    color: $white;
    &::before {
      z-index: -5;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(25deg);
      content: '';
      display: inline-block;
      opacity: .15;
      height: 210px;
      width: 175px;
      background-image: url('./assets/images/stars3.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      @include tablets {
        height: 174px;
        width: 144px;
      }
      @include phones {
        height: 100px;
        width: 86px;
      }
    }
  }
  &--works {
    color: $white;
  }
}

.title-h2 {
  @include smallTitle;
  position: relative;
  z-index: 1;
  text-align: center;
  line-height: 1.2;
  &:after {
    content: '';
    display: block;
    width: 90px;
    height: 3px;
    margin: 15px auto;
    background-color: $text-color;
  }
  &--color-white {
    color: $white;
    &:after {
      background-color: $gray-light;
    }
  }
}