.title-h1 {
  font-family: $font-title;
  text-transform: uppercase;
  font-size: 63px;
  text-align: center;
  position: relative;
  z-index: 5;
  @include tablets{
    font-size: 49px;
  }
  @include phones{
    font-size: 35px;
  }
}

.title-h1--about {
  &::before{
    z-index: -5;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%) rotate(180deg);
    content: '';
    display: inline-block;
    opacity: .15;
    height: 150px;
    width: 250px;
    background-image: url('./assets/images/stars2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.title-h1--feeds {
  color: $white;
  &::before{
    z-index: -5;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%) rotate(25deg);
    content: '';
    display: inline-block;
    opacity: .15;
    height: 210px;
    width: 175px;
    @include tablets {
      height: 174px;
      width: 144px;
    }
    @include phones {
      height: 100px;
      width: 86px;
    }
    background-image: url('./assets/images/stars3.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.title-h1--works {
  &::before{
    z-index: -5;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%) rotate(180deg);
    content: '';
    display: inline-block;
    opacity: .15;
    height: 150px;
    width: 250px;
    background: url('./assets/images/stars2.svg') center center / contain no-repeat;
  }
}
.title-h2 {
  font-family: $font-title;
  font-size: 35px;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  @include tablets{
    font-size: 30px;
  }
  @include phones{
    font-size: 21px;
  }
  &:after {
    content: '';
    display: block;
    width: 90px;
    height: 3px;
    margin: 15px auto;
    background-color: $text-color;
  }
}
.title-h2--color--white {
	color: $white;
	&:after {
		background-color: $gray-light;
	}
}
.articles__item-title {
  text-align: left;
  margin-bottom: 20px;
  text-transform: initial;
  &:after {
    display: none;
  }
}